html, body{
    background-color: #ffffff;
    color: #687689;
    font: normal 16px/1.5 Helvetica, Arial, sans-serif;
    font-family: 'Jost*',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    font-size: 2em;
    font-weight: 500;
    color: #5874DB;
    margin: 0.2em 0 0 0;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
    color: #bBD3F9;
}

a{
    text-decoration: none;
}

.section{
    float: left;
    width: 100%;
}

#main{
    background: #00a7f2 url(img/background.svg) no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    color: #fff;
    min-height: 100vh;
}

.container{
    display: block;
    margin: 0 auto;
    width: 60em;
}

#logo{
    width: 64px;
    float: left;
    margin: 45px 0 0 0;
}

#logo svg{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#nav{
    float: right;
    margin: 50px 0 0 0;
    padding: 0;
}

#nav li{
    float: left;
    font-size: 1em;
    list-style: none;
}

#nav svg {
    width: 20px;
    height: auto;
}

#nav li a{
    color: #fff;
    margin: 0 1em;
}

#nav li a:hover{
    border-bottom: 1px solid #fff;
}

#intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#intro h1{
    font-size: 2.5rem;
    margin: 2em 0 0 0;
    padding: 0;
    line-height: 1.2em;
    color: #fff;
    font-weight: 500;
}

#intro h2{
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 500;
}

#intro .button{
    width: 100%;
    max-width: 282px;
    height: 48px;
    background-color: #0286c2;
    margin-left: calc(48px + .625rem);
    color: #fff;
    display: inline-block;
    /* height: 3em; */
    border-radius: 4px;
    line-height: 1.1em;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    transition: background-color .3s;
}

#intro .button:hover{
    background-color: #0064a0;
}

#features{    
    width: 100%;
    padding-top: 4em;
    display: flex;
    justify-content: space-evenly;
}

#features h3{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: inline;
    vertical-align: middle;
    margin-left: 0.5em;
}

#features svg{
    width: 2em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#features p{
    font-size: 0.95em;
    margin: 0.5em 0 0 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.4;
    color: #bBD3F9;
    padding-left: 3.1em;
}

.feature{
width: 33%;
float: left;
box-sizing: border-box;
}

/* COMMENT CSS */
.comment__single {
    width: 100%;
    max-width: 340px;
    margin-top: 20px;
    padding: 20px 10px;
    will-change: auto;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.comment__author-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.comment__author-profile>span:last-of-type {
    margin-left: .625rem;
    color: #455a64;
}
.comment-element {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.comment-element svg {
    width: 16px;
    height: auto;
    position: absolute;
    right: 0;
    padding: 8px;
    cursor: pointer;
}
.profile-picture, .profile-picture img {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.comment-text {
    display: inline-flex;
    align-items: center;
    font-size: .825rem;
    width: calc(100% - 48px - .625rem);
    margin: 0 0 0 calc(42px + .625rem);
    color: #455a64;
    background: #eceff1;
    border-radius: 0 8px 8px 8px;
    overflow-wrap: break-word;
    resize: none;
    min-height: 32px;
    border-radius: 0 0 0 8px;
    padding: 0 .3125rem;
}
#comment-info-wrapper {
    width: 280px;
    margin: 40px 0 0 60px;
    font-size: .7rem; 
    text-align: left;
    height: 54px;
}
.comment-info {
    margin: 0;
    white-space: nowrap;
}
.info-key {
    display: inline-block;
    width: 128px;
}

/* Snackbar */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}
  
  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@media only screen and (max-width : 1090px) {
    .container{
        width: 50em;
    }
}

@media only screen and (max-width : 950px) {
    .container{
        width: 100%;
        padding: 0 3em;
        box-sizing: border-box;
    }
}

@media only screen and (max-width : 768px) {
    #features{
        margin-bottom: 2em;
    }
    #features .feature{
        width: 50%;
        border: 0;
        padding: 0 2em;
        margin-top: 3em;
    }
}

@media only screen and (max-width : 720px) {
    #logo, #nav{
        float: none;
        display: block;
        margin: .75em auto;
    }
    #nav{
        display: none;
    }
    #nav li{
        width: 100%;
        margin: 1em 0 0 0;
        padding: 0;
        text-align: center;
    }
    #intro h1{
        font-size: 2em;
        text-align: center;
        margin: 0 0 .75em 0;
    }
    h2{
        font-size: 1.2em;
        text-align: center;
    }
    #intro input{
        margin-top: 1em;
    }
    #features .feature{
        width: 100%;
        padding: 0;
        margin-top: 2em;
    }
}

@media only screen and (max-width : 570px) {
    #intro h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    #intro input.text{
        width: 100%;
    }
}

@media only screen and (max-width : 480px) {
    .container{    
        padding-left: .5rem;
        padding-right: .5rem;
    }
    #features{
        flex-direction: column;
    }
    #comment-info-wrapper {
        width: 320px;
        margin: 40px 0 0 0px;
        font-size: .75rem;
        text-align: left;
    }
    #intro .button{
        max-width: initial;
        margin-left: 0;
    }
}
