html, body{
    background-color: #ffffff;
    color: #687689;
    font: normal 16px/1.5 Helvetica, Arial, sans-serif;
    font-family: 'Jost*',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
    font-size: 2em;
    font-weight: 500;
    color: #5874DB;
    margin: 0.2em 0 0 0;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
    color: #bBD3F9;
}

a{
    text-decoration: none;
}

.section{
    float: left;
    width: 100%;
}

#main{
    background: #00a7f2 url(img/background.svg) no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    color: #fff;
    min-height: 100vh;
}

.container{
    display: block;
    margin: 0 auto;
    width: 60em;
}

#logo{
    width: 110px;
    float: left;
    margin: 45px 0 0 0;
}

#logo svg{
    width: 64px;
}

#nav{
    float: right;
    margin: 50px 0 0 0;
    padding: 0;
}

#nav li{
    float: left;
    font-size: 1em;
    list-style: none;
}

#nav svg {
    width: 20px;
    height: auto;
}

#nav li a{
    color: #fff;
    margin: 0 1em;
}

#nav li a:hover{
    border-bottom: 1px solid #fff;
}

#intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#intro h1{
    font-size: 2.65em;
    margin: 3.5em 0 0 0;
    padding: 0;
    line-height: 1.2em;
    color: #fff;
    font-weight: 500;
}

#intro h2{
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 500;
}

#intro .button{
    width: 100%;
    max-width: 262px;
    height: 48px;
    background-color: #0286c2;
    margin-left: calc(48px + .625rem);
    color: #fff;
    display: inline-block;
    /* height: 3em; */
    border-radius: 4px;
    line-height: 1.1em;
    font-size: 1.1em;
    cursor: pointer;
    border: none;
    transition: background-color .3s;
}

#intro .button:hover{
    background-color: #0064a0;
}

#features{
    width: 100%;
    padding: 6em 0;
    display: flex;
    justify-content: space-evenly;
}

#features h3{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    font-weight: 500;
    display: inline;
    vertical-align: middle;
    margin-left: 0.5em;
}

#features svg{
    width: 2em;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#features p{
    font-size: 0.95em;
    margin: 0.5em 0 0 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.4;
    color: #bBD3F9;
    padding-left: 3.1em;
}

.feature{
width: 33%;
float: left;
box-sizing: border-box;
}

@media only screen and (max-width : 1090px) {
    .container{
    width: 50em;
    }
}

@media only screen and (max-width : 950px) {
    .container{
    width: 100%;
    padding: 0 3em;
    box-sizing: border-box;
    }
}

@media only screen and (max-width : 768px) {
    #features{
    margin-top: 3em;
    }
    #features .feature{
    width: 50%;
    border: 0;
    padding: 0 2em;
    margin-top: 3em;
    }
}

@media only screen and (max-width : 720px) {
    #logo, #nav{
    float: none;
    display: block;
    margin: 1.5em auto;
    }
    #nav{
    display: none;
    }
    #nav li{
    width: 100%;
    margin: 1em 0 0 0;
    padding: 0;
    text-align: center;
    }
    #intro h1{
    font-size: 2em;
    }
    h2{
    font-size: 1.2em;
    }
    #intro input{
    margin-top: 1em;
    }
    #features .feature{
    width: 100%;
    padding: 0;
    margin-top: 2em;
    }
}

@media only screen and (max-width : 570px) {
    #intro h1{
    font-size: 1.5em;
    }
    h2{
    font-size: 1em;
    }
    #intro input.text{
    width: 100%;
    }
}

@media only screen and (max-width : 480px) {
    .container{
        padding-left: 1em;
        padding-right: 1em;
    }
    #features{
        flex-direction: column;
    }
}

/* COMMENT CSS */
.comment__single {
    width: 100%;
    max-width: 320px;
    margin-top: 20px;
    padding: 20px;
    will-change: auto;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.comment__author-profile {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.comment__author-profile>span:last-of-type {
    margin-left: .625rem;
}
.comment-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.comment-element svg {
    width: 20px;
    height: auto;
    position: absolute;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
span {
    color: #0064a0;
    text-decoration: none;
}
.profile-picture, .profile-picture img {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.comment-text {
    width: calc(100% - 48px - .625rem);
    margin: 0 0 0 calc(48px + .625rem);
    color: #455a64;
    background: #eceff1;
    border-radius: 0 8px 8px 8px;
    overflow-wrap: break-word;
    resize: none;
    min-height: 32px;
    border-radius: 0 0 0 8px;
    padding: .3125rem 2.5rem .3125rem .3125rem;
}